<div class="detalle">
    <mat-card style="width: 400px;">
        <mat-card-header>
            <mat-card-title>{{profesional.nombre + " " + profesional.apellido}}</mat-card-title>
        </mat-card-header>        
        <img class="rounded-1" mat-card-md-image [src]="profesional.imagenes[0]">
        <mat-card-content class=" container mt-4">
            <div class="row justify-content-between mb-2">
                <div class="col-3">
                    <strong>Especialidades: </strong>
                </div>
                <div class="col-8">
                    <div *ngFor="let esp of profesional.especialidadesAsArray" class="row">
                        {{esp}}
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-3">
                    <strong>Horarios: </strong>
                </div>
                <div class="col-8">
                    <div *ngFor="let horario of profesional.horariosAsString" class="row">
                        {{horario}}
                    </div>
                </div>
            </div>                                 
        </mat-card-content>
    </mat-card>
</div>


